<h2>Save a word: <i>{{model.base}}</i></h2>

<button {{on "click" this.showMe}}>Show Me What You Got</button>

<label>Base</label>
<Input @value={{model.base}}/>

{{#each this.model.meanings as |meaning|}}
  <Edit::Meaning @model={{meaning}}></Edit::Meaning>
{{/each}}

<br/>
<button> + Meaning</button>
<br/>
<button {{on "click" this.save}}>Save</button>