<h2>Save a word: <i>{{model.base}}</i></h2>

<!-- a button for debug -->
<!--
<button {{on "click" this.showMe}}>Show Me What You Got</button>
-->

<label>Base</label>
<Input @value={{model.base}}/>

{{#each model.meanings as |meaning|}}
  <Edit::Meaning @model={{meaning}}></Edit::Meaning>
{{/each}}

<br/>
<button {{on "click" this.addMeaning}}> + Meaning</button>
<br/>
<button {{on "click" this.save}}>Save</button>